{% extends "base.html" %}

{% block title %} Product Landing Page {{ super() }} {% endblock %}

{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row">
				{% for player in players %}
					<div class="col-md-6">
						<div class="thumbnail">
							<img alt="Player" src="{{ player.image }}" />
							<div class="caption">
								<h3>
									<a href="/player/{{ player.id }}">{{ player.name }}</a>
									<span class="badge">{{ player.score }}</span>
								</h3>
								<p>
									<form method="POST">
									{{ form.choice(value=loop.index|string) }}
									{{ form.submit(class="btn btn-primary btn-lg btn-block") }}
									</form>
								</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

</div>

{% endblock %}